[project]
	description = ArcheType Microservice Project With Spring Cloud
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Antonino Barilà (AntoninoBarila)
[access "refs/for/refs/*"]
	read = group user/Antonino Barilà (AntoninoBarila)
	push = group user/Antonino Barilà (AntoninoBarila)
	label-Code-Review = -2..+2 group user/Antonino Barilà (AntoninoBarila)
	label-Verified = -1..+1 group user/Antonino Barilà (AntoninoBarila)
	rebase = group user/Antonino Barilà (AntoninoBarila)
	removeReviewer = group user/Antonino Barilà (AntoninoBarila)
	submit = group user/Antonino Barilà (AntoninoBarila)
[access "refs/heads/*"]
	read = group user/Antonino Barilà (AntoninoBarila)
	create = group user/Antonino Barilà (AntoninoBarila)
	push = +force group user/Antonino Barilà (AntoninoBarila)
	pushMerge = group user/Antonino Barilà (AntoninoBarila)
[access "refs/tags/*"]
	push = group user/Antonino Barilà (AntoninoBarila)
	push = +force group user/Antonino Barilà (AntoninoBarila)
